.venv
.sqlite3
.pyc
__pycache__


# {% for testimonial in testimonials %}
#   <div class="testimonial-slide {% if forloop.first %}active{% endif %}">
#     <div class="testimonial-quote">“{{ testimonial.text }}”</div>
#     <div class="testimonial-author">– {{ testimonial.author }}</div>
#   </div>
# {% endfor %}
