<div class="candy-sort-nav d-flex justify-content-end pe-3 pt-2">
    <div class="candy-pill sort-label">
      <span>Sort by:</span>
    </div>
    <a href="?sort=price" class="candy-pill">
      <img src="https://img.icons8.com/ios/50/astronaut.png" alt="Price Icon" class="pill-icon" />
      Price
    </a>
    <a href="?sort=category" class="candy-pill">
      <img src="https://img.icons8.com/ios/50/planet.png" alt="Category Icon" class="pill-icon" />
      Category
    </a>
    <a href="?sort=rating" class="candy-pill">
      <img src="https://img.icons8.com/ios/50/rocket--v1.png" alt="Rating Icon" class="pill-icon" />
      Rating
    </a>
  </div>
  